<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Tus otros meta tags, iconos, fuentes y CSS -->
    <link href="css/styles.css" rel="stylesheet" /> <!-- Bootstrap y otros estilos -->
    <style>
        .botones-navbar {
            display: flex;
            align-items: center;
        }
    </style>
</head>
<body id="page-top">
    <!-- Navigation -->
    <div class="navbar-spacer"></div>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container-custom">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <h1>NodePop</h1>
                </a>
                <div class="locale-switcher">
                    <% getLocales().forEach(locale => { %>
                        <a href="/change-locale/<%= locale %>"><%= locale %></a>
                    <% }) %>
                </div>
            </div>

            <% if (!session.usuarioLogado) { %>
                <div class="botones-navbar">
                    <a href="/login" class="btn btn-primary rounded-pill">
                        <span class="d-flex align-items-center">
                            <span class="small"><%= __('Login') %></span>
                        </span>
                    </a>
                </div>
            <% } else  { %>
                <div class="botones-navbar">
                    <a href="/logout" class="btn btn-primary rounded-pill">
                        <span class="d-flex align-items-center">
                            <span class="small"><%= __('Logout') %></span>
                        </span>
                    </a>
                    <a href="/privado" class="btn btn-primary rounded-pill">
                        <span class="d-flex align-items-center">
                            <span class="small"><%= __('Private area') %></span>
                        </span>
                    </a>
                </div>
            <% } %>
        </div>
    </nav>
    

