<% include cabecera.ejs %>

<head>
    <!-- Tus otros meta tags, iconos, fuentes y CSS -->
    <link href="css/styles.css" rel="stylesheet" /> <!-- Bootstrap y otros estilos -->
    <style>
        .btn-custom {
            background-color: white;
            color: blue;
            border-color: blue;
        }
        .btn-custom:hover {
            background-color: blue;
            color: white;
            border-color: blue;
        }
    </style>
</head>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

<br></br>

<!-- Ads area -->

<!-- Cards de Anuncios con opción de eliminar -->
<main class="main-container">
    <div class="header-container" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
        <!-- Basic features section-->
        <section class="bg-light">
            <div class="container px-5">

                <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
                    <div class="col-12 col-lg-5">
                        <h2 class="display-4 lh-1 mb-4"><%= __('Private zone') %></h2>
                    </div>
                    <div class="col-12 col-lg-5">
                        <p><%= __('User') %>: <%= email %></p>
                    </div>
                </div>

            </div>
        </section>
        <div class="col-12 col-lg-5">
            <h3 class="text-center mb-0"><%= __('Your ads') %></h3>
        </div>
        <a href="/ad-new" class="btn btn-custom"><%= __('Create new ad') %></a>

    </div>

    <div class="cards-container">
        <% ads.forEach(ad => { %>
            <div class="card-thumb">
                <% if(ad.thumbnail) { %>
                    <!-- Aquí se usa la ruta relativa correcta -->
                    <img src="/img/thumbnails/<%= ad.thumbnail %>" class="card" alt="<%= ad.name %>">
                <% } else { %>
                    <img src="/img/<%= ad.img %>" class="card-img" alt="<%= ad.name %>">
                <% } %>
                <div class="card-body">
                    <h5 class="card-title"><%= ad.name %></h5>
                    <p class="card-text"><%= ad.option ? __('Sale') : __('Search') %>: <%= ad.price %> EUR</p>
                    <p class="card-text"><small class="text-muted"><%= __('Tags') %>: <%= ad.tags.join(', ') %></small></p>
                    <a onclick="confirmDeleteAd('<%= ad.name %>', '<%= ad._id %>')" href="javascript:void(0);">
                        <i class="bi bi-trash"></i> <%= __('Delete Ad') %>
                    </a>
                </div>
            </div>
        <% }); %>
    </div>
    
</main>

<script>
    function confirmDeleteAd(name, adId) {
        if (confirm(`<%= __('Are you sure you want to delete the ad') %> ${name}?`)) {
            window.location.href = `/ads-delete/${adId}`;
        }
    }
</script>

<br></br>
<br></br>
<br></br>

<% include pie.ejs %>
